In [5]:
# 새롭게 생성된 주피터 노트북에서, 넘파이, 판다스, 맷플롯립, 시본, 사이킷런의 모듈을 임포트함.
# 위와같은 코드를 실행하면, 파이썬 머신러닝을 위한 환경 구성을 완료한 것
import numpy
import pandas
import matplotlib.pyplot
import seaborn
from sklearn.model_selection import train_test_split

In [6]:
# 넘파이 이해하기: 머신러닝 알고리즘 개발하는 방법 중 하나임
import numpy as np

In [7]:
# 1차원배열
array1 = np.array([1,2,3])
print('array type:', type(array1))
print('array1 array 형태:', array1.shape)

array type: <class 'numpy.ndarray'>
array1 array 형태: (3,)

In [8]:
# 2차원 배열
array2 = np.array([[1,2,3],
                 [2,3,4]])
print('array2 type:', type(array2))
print('array2 array 형태:', array2.shape)

array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)

In [9]:
# 3차원 배열
array3 = np.array([[1,2,3]])
print('array3 type:', type(array3))
print('array3 array 형태:', array3.shape)

array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [10]:
# 판다스의 시작 - DataFrame으로 파일을 로딩, 기본 API
import pandas as pd

In [11]:
# 데이터 불러오기
data_afsnt = pd.read_csv('C:\\Users\\parkjeongah\\Desktop\\working\\공모전\\항공공모전\\파이썬작업코드\\AFSNT.csv',engine='python')
data_afsnt_dly = pd.read_csv('C:\\Users\\parkjeongah\\Desktop\\working\\공모전\\항공공모전\\파이썬작업코드\\AFSNT_DLY.csv',engine='python')
data_sfsnt = pd.read_csv('C:\\Users\\parkjeongah\\Desktop\\working\\공모전\\항공공모전\\파이썬작업코드\\SFSNT.csv',engine='python')

In [12]:
data_afsnt.head(3)

,SDT_YY,SDT_MM,SDT_DD,SDT_DY,ARP,ODP,FLO,FLT,REG,AOD,IRR,STT,ATT,DLY,DRR,CNL,CNR
0,2017,1,1,일,ARP1,ARP3,A,A1901,SEw3Nzc2,D,N,6:10,6:18,N,NaN,N,NaN
1,2017,1,1,일,ARP1,ARP3,A,A1905,SEw4MjM2,D,N,6:15,6:25,N,NaN,N,NaN
2,2017,1,1,일,ARP1,ARP3,L,L1751,SEw4MjM3,D,N,6:20,6:30,N,NaN,N,NaN

In [13]:
data_afsnt_dly.head(3)

,SDT_YY,SDT_MM,SDT_DD,SDT_DY,ARP,ODP,FLO,FLT,AOD,STT,DLY,DLY_RATE
0,2019,9,16,월,ARP1,ARP3,L,L1702,A,9:05,NaN,NaN
1,2019,9,16,월,ARP3,ARP1,L,L1702,D,7:55,NaN,NaN
2,2019,9,16,월,ARP1,ARP3,L,L1720,A,14:40,NaN,NaN

In [14]:
data_sfsnt.head(3)

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
0,S19,A1915,ARP1,ARP3,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1,S19,A1904,ARP3,ARP1,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
2,S19,I1304,ARP3,ARP1,8:00,9:15,I,Y,NaN,Y,Y,Y,NaN,Y,20190331,20191026,N

In [15]:
print('data_afsnt IRR type:', type(data_afsnt))

data_afsnt IRR type: <class 'pandas.core.frame.DataFrame'>

In [16]:
data_sfsnt

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
0,S19,A1915,ARP1,ARP3,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1,S19,A1904,ARP3,ARP1,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
2,S19,I1304,ARP3,ARP1,8:00,9:15,I,Y,NaN,Y,Y,Y,NaN,Y,20190331,20191026,N
3,S19,B1802,ARP2,ARP1,8:00,8:55,B,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
4,S19,J1106,ARP1,ARP2,8:00,9:05,J,NaN,Y,Y,NaN,Y,Y,NaN,20190730,20190824,N
5,S19,J1106,ARP1,ARP2,8:00,9:05,J,NaN,Y,Y,Y,Y,Y,Y,20190331,20190728,N
6,S19,J1106,ARP1,ARP2,8:00,9:05,J,Y,NaN,NaN,Y,NaN,NaN,NaN,20190902,20191017,N
7,S19,J1106,ARP1,ARP2,8:00,9:05,J,NaN,Y,Y,NaN,Y,Y,Y,20190827,20191020,N
8,S19,J1106,ARP1,ARP2,8:00,9:05,J,Y,NaN,NaN,NaN,NaN,NaN,NaN,20190401,20190722,N
9,S19,J1106,ARP1,ARP2,8:00,9:05,J,Y,NaN,NaN,Y,NaN,NaN,Y,20190729,20190829,N
10,S19,J1208,ARP1,ARP3,8:00,9:10,J,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
11,S19,I1304,ARP3,ARP1,8:05,9:15,I,NaN,Y,NaN,NaN,NaN,NaN,NaN,20190331,20191026,N
12,S19,J1209,ARP3,ARP1,8:10,9:20,J,NaN,NaN,NaN,NaN,NaN,Y,Y,20190406,20191026,N
13,S19,F1207,ARP1,ARP3,8:10,9:20,F,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
14,S19,J1222,ARP1,ARP3,11:20,12:30,J,NaN,NaN,NaN,Y,NaN,Y,NaN,20190808,20191026,N
15,S19,J1222,ARP1,ARP3,11:20,12:30,J,NaN,Y,NaN,NaN,NaN,NaN,NaN,20190813,20191022,N
16,S19,J1222,ARP1,ARP3,11:20,12:30,J,NaN,NaN,NaN,NaN,NaN,Y,NaN,20190504,20190803,N
17,S19,J1222,ARP1,ARP3,11:25,12:35,J,NaN,NaN,NaN,NaN,Y,NaN,NaN,20190802,20191025,N
18,S19,J1222,ARP1,ARP3,11:25,12:35,J,NaN,NaN,NaN,NaN,Y,NaN,NaN,20190405,20190726,N
19,S19,B1029,ARP1,ARP3,11:25,12:30,B,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
20,S19,B1811,ARP1,ARP2,11:30,12:25,B,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
21,S19,F1210,ARP3,ARP1,11:35,12:45,F,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
22,S19,H1113,ARP1,ARP3,11:35,12:30,H,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
23,S19,J1221,ARP3,ARP1,11:40,12:50,J,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
24,S19,J1111,ARP2,ARP1,11:40,12:40,J,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190331,20191020,N
25,S19,H1112,ARP3,ARP1,11:40,12:50,H,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
26,S19,J1111,ARP2,ARP1,11:40,12:40,J,Y,Y,Y,Y,Y,Y,NaN,20190401,20191026,N
27,S19,I1314,ARP3,ARP1,11:45,13:00,I,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
28,S19,L1713,ARP1,ARP3,11:45,12:55,L,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
29,S19,F1213,ARP1,ARP3,11:50,13:00,F,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,S19,I1554,ARP3,ARP6,14:15,15:25,I,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1142,S19,J1956,ARP6,ARP3,14:15,15:20,J,Y,NaN,Y,NaN,Y,NaN,Y,20190331,20191025,N
1143,S19,H1704,ARP3,ARP4,14:25,15:30,H,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1144,S19,A1198,ARP3,ARP9,14:35,15:25,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1145,S19,J1835,ARP3,ARP12,14:35,15:35,J,NaN,NaN,NaN,NaN,Y,NaN,Y,20190331,20191025,N
1146,S19,J1825,ARP3,ARP5,14:40,15:45,J,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190407,20191020,N
1147,S19,J1834,ARP12,ARP3,14:40,15:40,J,Y,NaN,NaN,NaN,NaN,NaN,NaN,20190520,20191021,N
1148,S19,A1145,ARP8,ARP3,14:40,15:30,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1149,S19,L1804,ARP3,ARP4,14:45,15:50,L,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1150,S19,L1905,ARP8,ARP3,14:45,15:30,L,NaN,Y,NaN,Y,NaN,Y,Y,20190331,20191026,N
1151,S19,J1810,ARP4,ARP3,14:55,16:00,J,NaN,Y,NaN,NaN,NaN,NaN,NaN,20190903,20191022,N
1152,S19,J1934,ARP9,ARP3,15:00,16:00,J,NaN,NaN,NaN,NaN,NaN,Y,NaN,20190525,20191026,N
1153,S19,J1934,ARP9,ARP3,15:00,16:00,J,Y,Y,Y,Y,NaN,NaN,NaN,20190520,20191024,N
1154,S19,B1851,ARP1,ARP4,6:50,7:50,B,NaN,NaN,Y,NaN,NaN,NaN,NaN,20190618,20191026,N
1155,S19,B1851,ARP1,ARP4,7:00,8:00,B,NaN,NaN,Y,NaN,NaN,NaN,NaN,20190619,20191026,N
1156,S19,L1906,ARP3,ARP8,15:05,15:55,L,Y,NaN,Y,NaN,Y,NaN,NaN,20190331,20191026,N
1157,S19,J1811,ARP3,ARP4,15:05,16:10,J,NaN,Y,NaN,Y,Y,Y,Y,20190601,20191026,N
1158,S19,J1811,ARP3,ARP4,15:05,16:10,J,Y,NaN,Y,NaN,NaN,NaN,NaN,20190603,20191023,N
1159,S19,J1909,ARP3,ARP8,15:10,16:10,J,Y,Y,Y,Y,Y,Y,Y,20190902,20191026,N
1160,S19,J1909,ARP3,ARP8,15:10,16:10,J,NaN,Y,NaN,Y,NaN,NaN,NaN,20190730,20190829,N
1161,S19,J1909,ARP3,ARP8,15:10,16:10,J,Y,NaN,Y,NaN,Y,Y,Y,20190729,20190901,N
1162,S19,J1909,ARP3,ARP8,15:10,16:10,J,Y,NaN,Y,Y,Y,Y,Y,20190429,20190728,N
1163,S19,J1909,ARP3,ARP8,15:10,16:10,J,NaN,Y,NaN,NaN,NaN,NaN,NaN,20190507,20190723,N
1164,S19,A1234,ARP3,ARP6,15:10,16:15,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1165,S19,J1958,ARP6,ARP3,15:10,16:15,J,NaN,Y,NaN,Y,NaN,Y,NaN,20190402,20191026,N
1166,S19,I1586,ARP3,ARP6,15:25,16:35,I,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1167,S19,J1920,ARP13,ARP3,15:25,16:25,J,Y,Y,Y,Y,Y,NaN,Y,20190429,20191025,N
1168,S19,J1920,ARP13,ARP3,15:25,16:25,J,NaN,NaN,NaN,NaN,NaN,Y,NaN,20190511,20191026,N
1169,S19,J1959,ARP3,ARP6,15:30,16:40,J,Y,NaN,Y,NaN,Y,NaN,Y,20190403,20191025,N
1170,S19,A1199,ARP9,ARP3,16:00,16:50,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N

In [17]:
# 한 변수 데이터만 추출
data_sfsnt_flo = data_sfsnt['FLO']
print(type(data_sfsnt_flo))

<class 'pandas.core.series.Series'>

In [18]:
data_sfsnt_flo.head()

0    A
1    A
2    I
3    B
4    J
Name: FLO, dtype: object

In [19]:
value_counts = data_sfsnt_flo.value_counts()

In [20]:
print(type(value_counts))

<class 'pandas.core.series.Series'>

In [21]:
# 왼쪽줄은 value_counts() 반환 series의 index
# 오른쪽줄은 value_counts() 반환 series의 데이터 값.
print(value_counts)

J    547
L    122
A    118
B    117
H    117
I     80
F     52
M     18
Name: FLO, dtype: int64

In [22]:
# 데이터프레임 슬라이싱 : 처음 두개 불러오는 과정
data_sfsnt[0:2]

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
0,S19,A1915,ARP1,ARP3,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1,S19,A1904,ARP3,ARP1,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N

In [23]:
# 컬럼값이 J인것을 3개 추출함
data_sfsnt[data_sfsnt_flo=="J"].head(3)

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
4,S19,J1106,ARP1,ARP2,8:00,9:05,J,NaN,Y,Y,NaN,Y,Y,NaN,20190730,20190824,N
5,S19,J1106,ARP1,ARP2,8:00,9:05,J,NaN,Y,Y,Y,Y,Y,Y,20190331,20190728,N
6,S19,J1106,ARP1,ARP2,8:00,9:05,J,Y,NaN,NaN,Y,NaN,NaN,NaN,20190902,20191017,N

In [24]:
# DataFrame iloc[] 연산자 :: 인덱싱이므로 명칭(ex, MON, SUN 이런 피쳐 명들)을 입력하면 에러가 난다
# DataFrame loc[] 연산자 :: 명칭 기반으로 데이터를 추출한다.
# DataFrame ix[] 연산자 :: 위치기반 인덱싱[1:2, 'Name']이 가능하다.

In [25]:
# boolean 인덱싱 :: 매우 편리한 데이터 필터링 방식. 가장 많이 사용함.
# ex. 승객중 나이가 60세 이상인 데이터 추출할 때 사용, 우리 공모전 데이터에는 딱히 안사용 하니까 패스

#정렬, Aggregation 함수, GroupBy 적용
데이터프레임과 Series의 정렬을 위해서는 sort_value() 매서드를 이용한다.
ascending = TRUE로 설정하면 오름차순으로 정렬(기본),
ascending = FALSE로 설정하면 내림차순으로 정렬한다.

input=True로 설정하면, 호출한 DataFrame의 정렬 결과를 그대로 적용합니다.
기본은 input=False입니다.

In [26]:
# data_sfsnt 데이터를 FLO컬럼으로 오름차순에 의해 정렬해서 반환한다.

data_sfsnt_sorted = data_sfsnt.sort_values(by=["FLO"])
data_sfsnt_sorted.head(3)

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
0,S19,A1915,ARP1,ARP3,7:55,9:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
359,S19,A1902,ARP3,ARP1,6:40,7:50,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
360,S19,A1911,ARP1,ARP3,6:40,7:50,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N

In [27]:
data_sfsnt_sorted = data_sfsnt.sort_values(by=["FLO", "STD"])
data_sfsnt_sorted.head(3)

,SSC,FLT,ORG,DES,STD,STA,FLO,MON,TUE,WED,THU,FRI,SAT,SUN,FSD,FED,IRR
419,S19,A1931,ARP1,ARP3,10:15,11:25,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
1084,S19,A1196,ARP3,ARP9,10:15,11:05,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N
455,S19,A1920,ARP3,ARP1,10:20,11:30,A,Y,Y,Y,Y,Y,Y,Y,20190331,20191026,N

#Aggregation 함수 적용
DATAFRAME에서 min(), max(), sum(), count()와 같은 aggregation 함수의 적용은 RDBMS SQL의 aggregation 함수 적용과 유사하다.

다만, dataframe의 경우, dataframe에서 바로 aggregation을 호출할 경우 모든 칼럼에 해당 aggregation을 적용한다는 차이가 있다.

In [28]:
data_sfsnt.count()

SSC    1171
FLT    1171
ORG    1171
DES    1171
STD    1153
STA    1152
FLO    1171
MON     750
TUE     745
WED     739
THU     741
FRI     744
SAT     743
SUN     722
FSD    1171
FED    1171
IRR    1171
dtype: int64